doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        |
        title Form
    body
        form(action='submitform', method='get')
            label
                | name
                input(name='name', type='text')
            |
            label
                | password
                input(name='password', type='password')
            |
            input(type='submit')
            case counter
                when "1"
                    p Hello
                when "2"
                    p Again
                default
                    p OK